# GitHub Actions Workflow responsible for cleaning up the Plugin Template repository from
# the template-specific files and configurations. This workflow is supposed to be triggered automatically
# when a new template-based repository has been created.
# Based on JetBrains/intellij-platform-plugin-template
#

name: Template Cleanup
on:
  push:
    branches:
      - main

jobs:

  # Run cleaning process only if workflow is triggered by the non-JetBrains/intellij-platform-plugin-template repository.
  template-cleanup:
    name: Template Cleanup
    runs-on: ubuntu-latest
    if: github.event.repository.name != 'express-api-template-oauth2'
    steps:
      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v4.2.1
      # Cleanup project
      - name: Cleanup
        run: |
          chmod +x .github/template-cleanup/cleanup.sh
          ./.github/template-cleanup/cleanup.sh
      # Generate new OpenAPI
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - name: Install Dependencies
        run: npm install
      - name: Update openapi.yaml
        run: npx -y swagger-jsdoc -d src/scripts/swaggerDefinition.js src/app/controllers/*.js -o openapi.yaml
      # Commit modified files
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit --amend --no-edit
      # Push changes
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
